.title_container {
  display: flex;
  margin-bottom: 50px;

  h1 {
    font-size: 24px;
    font-weight: 600;
  }
}

.player_cards {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  align-items: center;
}
