.title_container {
  display: flex;
  margin-bottom: 50px;

  h1 {
    font-size: 24px;
    font-weight: 600;
  }
}

.player_cards {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  align-items: center;
}

.details {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto 10px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  transition: 0.3s ease;
  overflow: hidden;
  margin-bottom: 50px;

  &::after {
    position: absolute;
    right: 24px;
    top: 15px;
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    border-right: 3px solid #425995;
    border-bottom: 3px solid #425995;
    transform: rotate(-45deg);
    transform-origin: center;
    transition: 0.3s;
  }
  &[open]::after {
    transform: rotate(45deg);
  }
  &[open] {
    padding-bottom: 100px;
    .details__title {
      background: #fff;
    }
  }

  &__title {
    color: #000;
    background: rgba(214, 214, 214, 0.5);
    border-radius: 5px;
    padding: 12px 24px;
    font-size: 20px;
    cursor: pointer;
    list-style: none;
    font-weight: 700;
    transition: 0.3s;
    &:hover {
      background: #fff;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 32px;
    font-size: 18px;
    margin-bottom: -80px;
    margin-top: 20px;
  }

  &__button {
    border: none;
    padding: 8px 18px;
    border-radius: 6px;
    transition: 0.6s ease;

    &:hover {
      background-color: #303030;
      color: #fff;
    }
  }
}
